@{
    ViewData["Title"] = "Erro";
    Layout = "_Layout";
    ViewData["Username"] = @ViewBag.UserName;
}

<html>
<head>
</head>
<body>
    <div class="text-center">
        <h2>Erro 401</h2>
        <p>Usuário não autorizado a acessar esta funcionalidade.</p>
        <p>Por favor contate o administrador do sistema!</p>
    </div>
</body>
</html>