@{
    Layout = "_LayoutLogin";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dizimo Paroquial</title>
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true"/>
</head>
<body>
    <div class="container">
        <h1>Dizimo Paroquial</h1>
        @using (Html.BeginForm("Login","Login", FormMethod.Post)) {
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingUser" name="user" placeholder="Login">
                <label for="floatingUser">Usuário</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Senha">
                <label for="floatingPassword">Senha</label>
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Acessar</button>
            </div>
        }
    </div>
</body>
</html>
