@{
    Layout = "_LayoutLogin";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dizimo Migrantes</title>
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <h1>Dizimo Migrantes</h1>
        <img src="~/img/Brasao_Migrantes.png" alt="Logo" style="width: 150px; margin: 0 auto 15px auto; display: block;">
        @using (Html.BeginForm("LoginAgentsAutentication", "Login", FormMethod.Post))
        {
            <div class="form-floating mb-3">
                <input type="number" maxlength="4" class="form-control" id="floatingCodeAgent" name="codeAgent" placeholder="Código Agente">
                <label for="floatingCodeAgent">Código Agente</label>
            </div>
            <div class="form-floating">
                <input type="number" class="form-control" id="floatingPhoneNumber" name="phonenumber" placeholder="Telefone">
                <label for="floatingPhoneNumber">Telefone</label>
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Acessar</button>
            </div>
        }
    </div>
</body>
</html>
