@model User
@{
    
}

<div class="text-center">
    <h1 class="display-4">Dizimo Paroquial</h1>
    <h3 class="display-5">Dashboard para administradores</h3>
    <h4>@Model.Name</h4>
    <h4>@Model.Username</h4>
    <h4>@Model.Password</h4>
    <h4>@Model.Active</h4>
</div>
