@model User
@{
    ViewData["Username"] = @ViewBag.UserName;
}

<div class="text-center">
    <h1 class="display-4">Dizimo Migrantes</h1>
    <h3 class="display-5">Dashboard para administradores</h3>
</div>
