@model User
@{
    ViewData["Username"] = @ViewBag.UserName;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dizimo Migrantes</title>
</head>
<body>
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 text-center">
                <h1 class="display-4 mb-4">Dizimo Migrantes</h1>
                <img src="~/img/Brasao_Migrantes.png" alt="Logo" class="img-fluid" style="max-width: 250px;">
            </div>
        </div>
    </div>
</body>
</html>